<section class="orders-show">

  <header class="page-header">
    <h1>Thank you for your order, <%=current_user.name%>!</h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
        <% if line_item = LineItem.where(order_id: @order.id) %>
          <% line_item.each do |item| %>
            <%= render 'item', product_id: item.product_id, quantity: item.quantity %>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            Total amount charged to your credit card:
          </th>
          <th>
            <%= number_to_currency(@order.total_cents.to_f / 100) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="order-summary jumbotron">
    <%UserMailer.confirmation_email(current_user.name, current_user.email, @order.id, number_to_currency(@order.total_cents.to_f / 100)).deliver_now%>
            

    <h4>A confirmation has been sent to <%= current_user.email %> </h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
