<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <% if reviews = Review.where(product_id: @product.id).order('id desc') %>
        <h4>Customer Reviews</h4>
        <% reviews.each do |review| %>
          <% user = User.find_by(id: review.user_id) %>
          <dl class="dl-horizontal">
            <dt><%= user.name %></dt>
            <dd><%= review.description %></dd>
            <dd>(<%= review.rating %>/5)</dd>
          </dl>
        <% end %>
      <% end %>
    </div>

    <%= form_for [@product, @new_review] do |f| %>
      <div>
        <%= f.text_area :description %>
        <%= f.select(:rating, options_for_select([
          ['', nil],
          ['Not My Cup of Tea', 1],
          ['Could Be Into It', 2],
          ['A Solid Choice', 3],
          ['Kind of Amazing', 4],
          ['My All-Time Fave', 5]
        ])) %>
      </div>
      <%= f.submit %>
    <% end %>
  </article>

</section>
